USE [master]
GO
/****** Object:  Database [nps_cwss]    Script Date: 6/19/2015 11:56:11 PM ******/
CREATE DATABASE [nps_cwss]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testdb', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\nps_cwss_data.mdf' , SIZE = 5196672KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testdb_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\nps_cwss_log.ldf' , SIZE = 688384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nps_cwss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nps_cwss]
GO
/****** Object:  User [nkaistha]    Script Date: 6/19/2015 11:56:11 PM ******/
CREATE USER [nkaistha] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [cmsuser_nps]    Script Date: 6/19/2015 11:56:11 PM ******/
CREATE USER [cmsuser_nps] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [nkaistha]
GO
ALTER ROLE [db_owner] ADD MEMBER [cmsuser_nps]
GO
/****** Object:  SqlAssembly [RegexFunction]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE ASSEMBLY [RegexFunction]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103007AC7B2490000000000000000E0000E210B010800002000000006000000000000AE3F0000002000000040000000004000002000000002000004000000000000000400000000000000008000000002000000000000020040050000100000100000000010000010000000000000100000000000000000000000603F00004B00000000400000B002000000000000000000000000000000000000006000000C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000B41F0000002000000020000000020000000000000000000000000000200000602E72737263000000B0020000004000000004000000220000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000002600000000000000000000000000004000004200000000000000000000000000000000903F0000000000004800000002000500042600005C19000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001E02280100000A2A1E02280400000A2AA6730600000A8001000004730700000A8002000004730800000A8003000004730900000A80040000042A0000133001000F000000010000117E010000046F0A00000A0A2B00062A00133001000F000000020000117E020000046F0B00000A0A2B00062A00133001000F000000030000117E030000046F0C00000A0A2B00062A00133001000F000000040000117E040000046F0D00000A0A2B00062A001330020011000000050000110203281100000A281200000A0A2B00062A000000133001000B0000000600001102281300000A0A2B00062A00133001000F00000007000011D005000002281400000A0A2B00062A00133001000B0000000800001102281500000A0A2B00062A00133001001800000009000011028C0100001B2D0A280100002B0A2B062B04020A2B00062A13300200100000000A000011031200FE150200001B06810200001B2A1E02281700000A2A133002002C0000000B000011027B1900000A6F1A00000A0B078C0300001B2D12280200002B0B027B1900000A076F1B00000A070A2B00062A4A02281700000A02731C00000A7D1900000A2A001E02281700000A2A133004001C0100000C0000110F00281E00000A178C17000001168C17000001281F00000A0F01281E00000A188C17000001168C17000001281F00000A282000000A0F02281E00000A1A8C17000001168C17000001281F00000A282000000A0F03281E00000A1E8C17000001168C17000001281F00000A282000000A0F04281E00000A1F108C17000001168C17000001281F00000A282000000A0F05281E00000A1F208C17000001168C17000001281F00000A282000000A0F06281E00000A1F408C17000001168C17000001281F00000A282000000A0F07281E00000A20000100008C17000001168C17000001281F00000A282000000A0F08281E00000A20000200008C17000001168C17000001281F00000A282000000A282100000A0B07282200000A0A2B00062A13300300510000000D0000110F01282300000A2D090F00282300000A2C0D7E2400000A282500000A0A2B301201FE151700000104282600000A0B0F01282700000A0F00282700000A07282800000A6F2900000A282500000A0A2B00062A00000013300300470000000E0000110F01282300000A2D090F00282300000A2C087E2A00000A0A2B2B1201FE151700000104282600000A0B0F01282700000A0F00282700000A07282B00000A282C00000A0A2B00062A00133003004D0000000F0000110F01282300000A2D090F00282300000A2C0916282200000A0A2B301201FE151700000104282600000A0B0F01282700000A0F00282700000A07282800000A6F2D00000A282200000A0A2B00062A000000133001002C000000100000110F00282300000A2C0D7E2400000A282500000A0A2B140F00282700000A282E00000A282500000A0A2B00062A133003003E000000110000110F01282300000A2D090F00282300000A2C04140B2B261200FE151700000104282600000A0A0F01282700000A0F00282700000A06282F00000A0B2B00072A0000360302283000000A283100000A2A00001330050042000000120000110F00282300000A2D090F01282300000A2C087E3200000A0A2B2612010F00282700000A0F01282700000A0F02282700000A19283300000A283100000A070A2B00062A00001330050051000000130000110F01282300000A2D090F00282300000A2C087E3200000A0B2B351200FE151700000105282600000A0A12020F01282700000A0F00282700000A0F02282700000A06283300000A283100000A080B2B00072A000000133003003E000000140000110F01282300000A2D090F00282300000A2C04140A2B261201FE151700000104282600000A0B0F01282700000A0F00282700000A07283400000A0A2B00062A0000133002002C0000001500001102741D0000010A03066F2900000A283100000A04066F2D00000A283500000A05066F3600000A283500000A2A42534A4201000100000000000C00000076322E302E35303732370000000005006C000000C0070000237E00002C080000DC07000023537472696E67730000000008100000080000002355530010100000100000002347554944000000201000003C09000023426C6F6200000000000000020000015715A209090E000000FA013300160000010000002300000007000000050000001C000000290000003A0000002F000000150000000200000005000000050000000900000001000000040000000200000003000000020000000000C9070100000000000A00D400AA000A000801EA000600180111010A007001AA000600EE0111010A00700246020E00B602A1020E00BF02A1020E005A03A1020600BC03A90312005604400412006F04400412009C0484040600C604B3040A000505DE040A001D0513001200520535050600870567050600A50511010600C90511010A00E20513000600300611061200630644060A00700613000A008006DE040A009306DE040600C00611011200D90644061200DF0644061200E506440612001F0744060E005D07420706007207110606007F07670506009F07670500000000010000000000010001000000000029003700050001000100000000003A00370009000100020000011000450037000D0001000300050100004F0000000D0005000800050100005D0000000D0005000F0001000000780093000D000600110031003301200031005C012D0031007E013A003100A301470021007F0290005020000000000618E400130001005820000000000618E4001300010060200000000011181F01170001008C2000000000130826011B000100A8200000000013084C0128000100C420000000001308750135000100E020000000001308930142000100FC20000000004602D901630001001C21000000004602E201680002003421000000008300F3016C0002005021000000004602FB017100020068210000000011000402780002008C21000000000100220280000300A821000000000618E40013000400B02100000000030836028B000400E821000000000618E40013000400FC21000000000618E400130004000422000000001600CA029D0004002C230000000016006403B4000D008C230000000016008503BF001000E0230000000016009203CA0013003C240000000016009D03D50016007424000000001600C803DC001700C024000000001100D303E7001A00D024000000001600E603EF001C002025000000001600FF03FA001F0080250000000016000D04DC002300CC250000000011001A040701260000000100E00100000100190200000100190200000100E10200000200EC0200000300F602000004000603000005000F03000006001A03000007003203000008003E03000009004903000001006F03000002007703000003007D03000001006F03000002007703000003007D03000001006F03000002007703000003007D03000001007703000001006F03000002007703000003007D0300000100770302000200E003000001007703000002006F0300000300F303000001006F0300000200770300000300F303000004007D03000001006F03000002007703000003007D0300000100770302000200E0030200030029040200040034040900E40013005900E40015016900E40024011100E40013007100E40013002400E40013002C00E40013003400E40013003C00E4001300240036028B002C0036028B00340036028B003C0036028B007900E40013008100E40013008900E400770191009605C2011900D90163001900E20168002900B705CF011900FB017100A100D305DF011900E4001300A900E400EF0144007F0290004C00FD058B004C0007066C024C00E4001300B100E40079024100FD058402C1007C068802C9008A068F02D1009F0695023900A9069A024900B5068402D900C706A6024900A906A9023900CD06AF024900FD057100E100DF06B502F100FD0571004100ED06C502E100F306C9024100A906D102F100FB066800E1000507E502E1000C07EF02D100FB01FF024900E4007701490012070403E10017070803E1002F0721033900E4003103F100370768000101E40013000901E40013001101E40031031901E4001300290083007C012E00D3011C092E00CB01130940002B004201400013001B01430013001B0143001B002A01490083008D0163001B002A01630013001B0169008300A10180002B00420183007300420183001B002A0183007B00420189008300AE01A0002B004201A300C300F701A30013001B01C0002B004201C30013001B01C300EB007E02E0002B004201000113001B0100012B00420120012B004201200113001B0140012B004201400113001B0160012B004201600113001B0180012B004201A0012B004201C00113001B01C0012B004201E0012B004201000213001B0100022B0042014002BB013B036002BB013B038002BB013B03A002BB013B03C002BB013B03E002BB0160032003BB01DB044003BB0137066003BB019407630168016D017201C701CB01D601DB01EA01EA017202A002BE02D702DE02EA02F802110318032A0336030400010006000500000008014F000000C10154000000700159000000CD015E0000008902980002000400030002000500050002000600070002000700090002000F000B0075007500880047014E0155015C0159026002048000000000000000000000000000000000BD07000002000000000000000000000001000A00000000000800000000000000000000000A00130000000000020000000000000000000000010095020000000002000000000000000000000001001101000000000500040006000400000010000C0017020000100019001702000000001B0017022D00E5012D0067020000003C4D6F64756C653E006D73636F726C6962004D6963726F736F66742E56697375616C4261736963004D794170706C69636174696F6E004D79004D79436F6D7075746572004D7950726F6A656374004D79576562536572766963657300546872656164536166654F626A65637450726F7669646572603100526567756C617245787072657373696F6E46756E6374696F6E730053696D706C6554616C6B2E5068696C2E466163746F72004D6963726F736F66742E56697375616C42617369632E4170706C69636174696F6E5365727669636573004170706C69636174696F6E42617365002E63746F72004D6963726F736F66742E56697375616C42617369632E4465766963657300436F6D70757465720053797374656D004F626A656374002E6363746F72006765745F436F6D7075746572006D5F436F6D70757465724F626A65637450726F7669646572006765745F4170706C69636174696F6E006D5F4170704F626A65637450726F76696465720055736572006765745F55736572006D5F557365724F626A65637450726F7669646572006765745F5765625365727669636573006D5F4D7957656253657276696365734F626A65637450726F7669646572004170706C69636174696F6E00576562536572766963657300457175616C73006F0047657448617368436F64650054797065004765745479706500546F537472696E67004372656174655F5F496E7374616E63655F5F005400696E7374616E636500446973706F73655F5F496E7374616E63655F5F006765745F476574496E7374616E6365004D6963726F736F66742E56697375616C42617369632E4D7953657276696365732E496E7465726E616C00436F6E7465787456616C75656031006D5F436F6E7465787400476574496E7374616E63650053797374656D2E446174610053797374656D2E446174612E53716C54797065730053716C496E7433320053716C426F6F6C65616E0052656745784F7074696F6E456E756D65726174696F6E0049676E6F726543617365004D756C74694C696E65004578706C696369744361707475726500436F6D70696C65640053696E676C654C696E650049676E6F72655061747465726E57686974657370616365005269676874546F4C6566740045434D415363726970740043756C74757265496E76617269616E740053716C537472696E670052656745784D61746368007061747465726E00696E707574004F7074696F6E7300526567457849734D61746368005265674578496E6465780052656745784573636170650053797374656D2E436F6C6C656374696F6E730049456E756D657261626C6500526567457853706C6974004E65787453706C6974526F77006D617463680052656745785265706C616365007265706C6163656D656E740052656745785265706C616365780052656745784D617463686573004E6578744D617463686564526F77006D61746368496E646578006D617463684C656E6774680053797374656D2E436F6D706F6E656E744D6F64656C00456469746F7242726F777361626C6541747472696275746500456469746F7242726F777361626C6553746174650053797374656D2E436F6465446F6D2E436F6D70696C65720047656E657261746564436F64654174747269627574650053797374656D2E446961676E6F737469637300446562756767657248696464656E417474726962757465004D6963726F736F66742E56697375616C42617369632E436F6D70696C65725365727669636573005374616E646172644D6F64756C6541747472696275746500486964654D6F64756C654E616D654174747269627574650053797374656D2E436F6D706F6E656E744D6F64656C2E44657369676E0048656C704B6579776F72644174747269627574650053797374656D2E52756E74696D652E436F6D70696C657253657276696365730052756E74696D6548656C70657273004765744F626A65637456616C75650052756E74696D655479706548616E646C65004765745479706546726F6D48616E646C6500416374697661746F7200437265617465496E7374616E6365004D7947726F7570436F6C6C656374696F6E417474726962757465006765745F56616C7565007365745F56616C75650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C654174747269627574650053797374656D2E546578742E526567756C617245787072657373696F6E730052656765784F7074696F6E7300496E746572616374696F6E00494966004F70657261746F7273004F724F626A65637400436F6E76657273696F6E7300546F496E7465676572006F705F496D706C69636974006765745F49734E756C6C00537472696E6700456D707479006F705F4578706C69636974005265676578004D6174636800436170747572650046616C73650049734D61746368006765745F496E646578004573636170650053706C6974004E756C6C005265706C616365004D61746368436F6C6C656374696F6E004D617463686573006765745F4C656E677468004D6963726F736F66742E53716C5365727665722E5365727665720053716C46756E6374696F6E417474726962757465004F757441747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C69747941747472696275746500526567657853514C434C5200526567657853514C434C522E646C6C00000000000320000000000039F3ABCF6E186542A7009EFA3A571F530008B77A5C561934E08908B03F5F7F11D50A3A0320000103000001040000120C070615121801120C040000120807061512180112080400001211070615121801121104000012140706151218011214040800120C040800120804080012110408001214042001021C0320000804200012150320000E021E00071001011E001E000730010101101E00021300042000130007061512190113000428001300160009111D1121112111211121112111211121112111210A0003112511251125111D0A0003112111251125111D0A0003111D11251125111D060001112511250A0003122911251125111D070002011C1011250A000311251125112511250C00041125112511251125111D0D0004011C10112510111D10111D052001011131080100010000000000052002010E0E1701000A4D7954656D706C61746507382E302E302E30000004010000000615121801120C061512180112080615121801121106151218011214040701120C040701120804070112110407011214042001010E1001000B4D792E436F6D707574657200001301000E4D792E4170706C69636174696F6E00000C0100074D792E5573657200001301000E4D792E576562536572766963657300000400011C1C03070102030701080600011215114D04070112150307010E051001001E00040A011E000407011E00072004010E0E0E0E6101003453797374656D2E5765622E53657276696365732E50726F746F636F6C732E536F617048747470436C69656E7450726F746F636F6C124372656174655F5F496E7374616E63655F5F13446973706F73655F5F496E7374616E63655F5F0000000615121801130006151219011300040A011300052001011300060702130013000420010102050100000000032000020600031C021C1C0500021C1C1C040001081C050001111D08050702111D0802060E05000111250E05000108111D08000312750E0E115D0607021125115D03061121070003020E0E115D0500011121020607021121115D060702111D115D0400010E0E04070111250800031D0E0E0E115D060702115D12290400010E1C030611250800040E0E0E0E115D06070211251125080703115D11251125080003127D0E0E115D0607021229115D04200101080407011275240100020054020F497344657465726D696E697374696301540209497350726563697365018179010006005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E69737469630154020949735072656369736501540E044E616D650A526567457853706C697454557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540E1146696C6C526F774D6574686F644E616D650C4E65787453706C6974526F77815A010005005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E69737469630154020949735072656369736501540E044E616D650C52656745785265706C61636554557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000815B010005005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E69737469630154020949735072656369736501540E044E616D650D52656745785265706C6163657854557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000817D010006005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E69737469630154020949735072656369736501540E044E616D650C52656745784D61746368657354557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540E1146696C6C526F774D6574686F644E616D650E4E6578744D617463686564526F770801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730100883F000000000000000000009E3F0000002000000000000000000000000000000000000000000000903F00000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000540200000000000000000000540234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004B4010000010053007400720069006E006700460069006C00650049006E0066006F0000009001000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E003000000040001000010049006E007400650072006E0061006C004E0061006D006500000052006500670065007800530051004C0043004C0052002E0064006C006C0000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000004800100001004F0072006900670069006E0061006C00460069006C0065006E0061006D006500000052006500670065007800530051004C0043004C0052002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000C000000B03F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE

GO
/****** Object:  FullTextCatalog [CemeteriesInfo]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [CemeteriesInfo]
GO
/****** Object:  FullTextCatalog [IndexFullTxt_RegLhistory]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [IndexFullTxt_RegLhistory]
GO
/****** Object:  FullTextCatalog [MedalOfHonor]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [MedalOfHonor]
GO
/****** Object:  FullTextCatalog [PrisonersAndersonville]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [PrisonersAndersonville]
GO
/****** Object:  FullTextCatalog [PrisonersFtMcHenry]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [PrisonersFtMcHenry]
GO
/****** Object:  FullTextCatalog [Rankz]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [Rankz]
GO
/****** Object:  FullTextCatalog [RegimentsUnits]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [RegimentsUnits]
GO
/****** Object:  FullTextCatalog [SailorsMusterInfo]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [SailorsMusterInfo]
GO
/****** Object:  FullTextCatalog [SailorsPersonInfo]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [SailorsPersonInfo]
GO
/****** Object:  FullTextCatalog [SoldiersNotes]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [SoldiersNotes]
GO
/****** Object:  FullTextCatalog [SoldiersPersons]    Script Date: 6/19/2015 11:56:13 PM ******/
CREATE FULLTEXT CATALOG [SoldiersPersons]
GO
/****** Object:  StoredProcedure [dbo].[spGetAndersonvilleResult]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Neetu>
-- Create date: <August 10, 2010>
-- Description:	<Get Andersonville Prisoners Result>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAndersonvilleResult]
	-- Add the parameters for the stored procedure here
	@PRAlname varchar(50)=null,	
	@PRAfname varchar(50)=null,
	@PRAoriginState varchar(500)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE
	@PRAsql varchar(3000)

    SET @PRAsql='SELECT  PRA_LASTNAME
				,PRA_FIRSTNAME
				,PRA_STATE     
				,PRA_UNITNAME
				,PRA_STATENAME
				,PRA_SIDE
				,PRA_PKEY
				,PRA_ISDELETE
				,PRA_PUBDATE
			    ,PRA_UPDATEDATE
			    ,PRA_UPDATEBY
			    ,PRA_UPDATETYPE
			    ,PRA_COMMENTS
				FROM Prisoners_Andersonville
				where 0=0'
	SET @PRAlname=Ltrim(Rtrim(@PRAlname))
	If @PRAlname !=''
	Begin
		If (len(@PRAlname)< 4) and (len(@PRAlname)>0)		
		Begin
		SET @PRAsql =@PRAsql + ' AND ' + 'PRA_LASTNAME ' + ' = ' + QUOTENAME(@PRAlname,'''')
		End		
		Else
		Begin
		SET @PRAsql = @PRAsql + ' And' + ' PRA_LASTNAME' + ' like '  + 
QUOTENAME(COALESCE('%' + @PRAlname + '%', ''),'''')
		End		
	End
	
	If @PRAfname !=''
	Begin
	SET @PRAsql =@PRAsql + ' AND ' + 'PRA_FIRSTNAME' + ' like ' + QUOTENAME(COALESCE(@PRAfname + '%', ''),'''')
	END
	
	If @PRAoriginState !=''
	Begin	
	SET @PRAsql = @PRAsql +  ' And' + ' PRA_STATE' + ' IN (' + char(39) + @PRAoriginState + char(39) + ')'		
	--SET @PRAsql =@PRAsql + ' AND ' + 'PRA_STATE' + ' = ' + QUOTENAME(@PRAoriginState,'''')
	
	
	End
	
	Exec (@PRAsql)
END


--exec spGetAndersonvilleResult @pralname='park'

GO
/****** Object:  StoredProcedure [dbo].[spGetCemeteriesResult]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Neetu K	
-- Create date: 08/06/2010
-- Description:	Get Cemeteries Result
-- =============================================
CREATE PROCEDURE [dbo].[spGetCemeteriesResult]
	-- Add the parameters for the stored procedure here
	@CTlname varchar(50) = null,
	@CTfname varchar(50) =null,
	@CTgravenumber varchar(10) =null,
	@CTunitname varchar(10) = null,
	@CToriginstate varchar(500) = null,
	@orderByClause varchar (100)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @CTsql varchar(3000)
	
    -- Insert statements for procedure here
	SET @CTsql ='SELECT CT_ID,
						CT_LASTNAME,
						CT_FIRSTNAME,
						CT_UNITNAME,
						CT_GRAVENUMBER,
						CT_ISDELETE,
						CT_PUBDATE,
						CT_UPDATEDATE,
						CT_UPDATEBY,
						CT_UPDATETYPE,
						CT_COMMENTS,
						CT_RANK,
						CT_DATEOFDEATH,
						CT_BURIALPLACE,
						CT_UNITNAME,
						CT_IMAGE,
						CT_TYPE,
						(Select Name from statecountryname where statecountry_abbr=CT_STATE) as CT_STATE
						FROM Cemeteries_info
						where 0=0'

	If @CTfname !=''
	Begin
	SET @CTsql = @CTsql + ' AND ' + 'CT_FIRSTNAME' +  ' like' + QUOTENAME(COALESCE(@CTfname + '%',''),'''')
	End
	
	Set @CTlname=LTRIM(RTRIM(@CTlname))
	If @CTlname != ''
	Begin
		If (len(@CTlname)<4) and (len(@CTlname)>0)
		Begin
			SET @CTsql = @CTsql + ' AND ' + 'CT_LASTNAME' + ' = ' +QUOTENAME(@CTlname,'''')
		End
		Else
		Begin
			SET @CTsql= @CTsql +' AND ' + 'CT_LASTNAME' + ' Like ' + QUOTENAME(COALESCE('%' + @CTlName + '%', ''),'''')
		End
	End
	
	If @CTgravenumber !=''
	Begin
	SET @CTsql = @CTsql + ' AND ' + 'CT_GRAVENUMBER' + ' like ' + QUOTENAME(COALESCE(@CTgravenumber + '%',''),'''')
	End
	
	If @CTunitname !=''
	Begin
	SET @CTsql= @CTsql + ' AND ' + 'CT_UNITNAME' + ' Like ' + QUOTENAME(COALESCE(@CTunitname + '%',''),'''')
	End
	
	If @CToriginstate !=''
	Begin
	SET @CTsql = @CTsql +  ' And' + ' CT_STATE' + ' IN (' + char(39) + @CToriginstate + char(39) + ')'		
	--SET @CTsql = @CTsql + ' AND ' + 'CT_STATE' + ' = ' + QUOTENAME(@CToriginstate,'''')
	End
	
	If @orderByClause !=''
	Begin
	SET @CTsql = @CTsql +  ' ORDER BY ' + @orderByClause
	End
	
	Exec(@CTsql)
END


--exec spGetCemeteriesResult @CTfname='nel'

GO
/****** Object:  StoredProcedure [dbo].[spGetFtMcHenryresult]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Neetu Kaistha		
-- Create date: 08/10/2010
-- Description:	Get Fort Mchenry results
-- =============================================
CREATE PROCEDURE [dbo].[spGetFtMcHenryresult]
	@PRMlname varchar(50)=null,
	@PRMfname varchar(50)=null,
	@PRMprisonerType varchar(5)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare
	@PRMsql varchar(1000)

    -- Insert statements for procedure here
	SET @PRMsql =' SELECT   PRM_TYPE     
			      ,PRM_NOTES
				  ,PRM_NAME
			      ,PRM_LASTNAME
			      ,PRM_FIRSTNAME
			      ,PRM_RECNUMBER
			      ,PRM_ID
				  ,PRM_RESIDENCE
				  ,PRM_ISDELETE
				  ,PRM_PUBDATE
				  ,PRM_UPDATEDATE
				  ,PRM_UPDATEBY
				  ,PRM_UPDATETYPE
				  ,PRM_COMMENTS
		  FROM Prisoners_FtMcHenry
		  WHERE 0=0'
	SET @PRMlname=Ltrim(Rtrim(@PRMlname))
	If @PRMlname !=''
	Begin
		If (len(@PRMlname) < 4 ) and (len(@PRMlname)>0)
		Begin
			SET  @PRMsql= @PRMsql + ' AND ' + 'PRM_LASTNAME' + ' = ' + QUOTENAME(@PRMlname,'''')
		End
		ELSE
		Begin
			SET @PRMsql= @PRMsql + ' AND ' + 'PRM_LASTNAME' + ' Like ' + 
	QUOTENAME(COALESCE('%' + @PRMlName + '%', ''),'''') 
		End
	End
	
	If @PRMfname !=''
	Begin
	SET @PRMsql = @PRMsql + ' AND ' + 'PRM_FIRSTNAME' + ' like ' + QUOTENAME(COALESCE(@PRMfname + '%',''),'''')
	End
	
	If @PRMprisonerType !=''
	Begin
	SET @PRMsql =@PRMsql + ' AND ' + 'PRM_TYPE' + ' = ' + QUOTENAME(@PRMprisonerType,'''')
	End
	--Exclude records which have lastName = #error
	SET @PRMsql = @PRMsql + ' AND ' + 'PRM_LASTNAME' + ' != ' + QUOTENAME('#Error','''')
	
	EXEC (@PRMsql)
END


--exec spGetftMchenryResult @PRMprisonerType='PW'

GO
/****** Object:  StoredProcedure [dbo].[spGetMedalofhonorResult]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Neetu k
-- Create date: Aug 02, 2010
-- Description:	getResults Medal of honor
-- =============================================
CREATE PROCEDURE [dbo].[spGetMedalofhonorResult] 
	-- Add the parameters for the stored procedure here
	@MDlname VARCHAR(50)=null,
	@MDfName VARCHAR(50)=null,
	@MDcitationstate VARCHAR(5)=null,
	@MDbirthState VARCHAR(5)=null,
	@orderByClause VARCHAR(100)=null			
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare 
	@MDsql varchar(3000)

    -- Insert statements for procedure here
	SET @MDsql='SELECT   MD_RECNUMBER,MD_LASTNAME
				,MD_FIRSTNAME
				,(SELECT NAME FROM StateCountryName WHERE STATECOUNTRY_ABBR =MD_CITATIONSTATE) AS MD_CITATIONSTATE
				,MD_CITATIONDATE      
				,MD_BIRTHPL
				,(SELECT NAME FROM StateCountryName WHERE STATECOUNTRY_ABBR =MD_BIRTHST) AS MD_BIRTHST
				,MD_RECNUMBER
				,MD_ISDELETE
			  ,MD_PUBDATE
			  ,MD_UPDATEDATE
			  ,MD_UPDATEBY
			  ,MD_UPDATETYPE
			  ,MD_COMMENTS
			  ,MD_UNITNAME
        FROM Medal_Ofhonor
		where 0=0'
	set @MDlname=LTRIM(RTRIM(@MDlname))	
	If @MDlname !=''	
    Begin 
	    --If (len(@MDlname)< 4) and (len(@MDlname)>1)
		--Begin
		--SET @MDsql = @MDsql + ' And' + ' MD_LASTNAME' + ' = '  + QUOTENAME(@MDlname, '''') 
		--End
        --else 
        --Begin
        SET @MDsql = @MDsql + ' And' + ' MD_LASTNAME' + ' like '  + 
QUOTENAME(COALESCE('%' + @MDlname + '%', ''),'''')
        --end 
	End  
	
	If @MDfName !=''
    Begin                      
	SET @MDsql = @MDsql + ' And' + ' MD_FIRSTNAME' + ' like '  + QUOTENAME(COALESCE(@MDfName + '%',''), '''') 
	End  
	
	If @MDcitationstate !=''
    Begin                      
	--SET @MDsql = @MDsql + ' And' + ' MD_CITATIONSTATE' + ' = '  + QUOTENAME(@MDcitationstate, '''') 
	SET @MDsql = @MDsql +  ' And' + ' MD_CITATIONSTATE' + ' IN (' + char(39) + @MDcitationstate + char(39) + ')'
	End  
	
	If @MDbirthState !=''
    Begin                      
	--SET @MDsql = @MDsql + ' And' + ' MD_BIRTHST' + ' = '  + QUOTENAME(@MDbirthState, '''') 
	SET @MDsql = @MDsql +  ' And' + ' MD_BIRTHST' + ' IN (' + char(39) + @MDbirthState + char(39) + ')'
	End  
	Exec(@MDsql)

	If @orderByClause !=''
	Begin
	SET @MDsql = @MDsql +  ' ORDER BY ' + @orderByClause
	End	
	
END

GO
/****** Object:  StoredProcedure [dbo].[spGetRegimentsResult]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Neetuk>
-- Create date: <July 23, 2010>
-- Description:	<Get Regiments Result,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetRegimentsResult]
	-- Add the parameters for the stored procedure here
	@RGsideName varchar(2)=null,
	@RGfunction varchar(500)=null,
	@RGoriginState varchar(500)=null,
	@RGspecialChar varchar(500)=null,
	@RGunitType varchar(500)=null,
	@RGunitCode varchar(500)=null,	
	@RGEthnicity varchar(2)=null,
	@RGunitNumber varchar(15)=null,
	@RGregName varchar(150)=null,
	@RGbtnradio int = null,
	@RGkeyword varchar(200)=null,
	@orderByClause varchar (100)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare 
	@RGsql varchar(3000)

    
	Set @RGsql = 'SELECT REG_UNIT_CODE,
			REG_SIDE,
			(select state_name from state_name where state_abbr=reg_state) as REG_STATE_NAME,
			REG_STATE,
			REG_ORDINAL,
			REG_ARM,
			REG_TYPE,
			REG_SPECIAL,
			REG_DUPLICATE,
			REG_ETHNIC,
			REG_HISTORY,
			REG_UNIT_NAME,
			REG_FUNCTION,
			REG_ISDELETE,
			REG_PUBDATE,
			REG_UPDATEDATE,
			REG_UPDATEBY,
			REG_COMMENTS,
			REG_UPDATETYPE
	FROM Regiments_Unitz 
	WHERE 0=0'

	If @RGsideName !=''
    Begin                      
	SET @RGsql = @RGsql + ' And' + ' REG_SIDE' + ' = '  + QUOTENAME(@RGsideName, '''') 
	End  
	
	If @RGfunction !=''
    Begin                      
	--SET @RGsql = @RGsql + ' And' + ' REG_FUNCTION' + ' = '  + QUOTENAME(@RGfunction, '''') 
	SET @RGsql = @RGsql +  ' And' + ' REG_FUNCTION' + ' IN (' + char(39) + @RGfunction + char(39) + ')'
	End  
	
	If @RGoriginState !=''
    Begin                      
	--SET @RGsql = @RGsql + ' And' + ' REG_STATE' + ' = '  + QUOTENAME(@RGoriginState, '''') 
	SET @RGsql = @RGsql +  ' And' + ' REG_STATE' + ' IN (' + char(39) + @RGoriginState + char(39) + ')'	
	End  
	
	If @RGspecialChar !=''
    Begin                      
	--SET @RGsql = @RGsql + ' And' + ' REG_SPECIAL' + ' = '  + QUOTENAME(@RGspecialChar, '''') 
	SET @RGsql = @RGsql +  ' And' + ' REG_SPECIAL' + ' IN (' + char(39) + @RGspecialChar + char(39) + ')'		
	End   
	
	If @RGunitType !=''
    Begin                      
	--SET @RGsql = @RGsql + ' And' + ' REG_TYPE' + ' = '  + QUOTENAME(@RGunitType, '''') 
	SET @RGsql = @RGsql +  ' And' + ' REG_TYPE' + ' IN (' + char(39) + @RGunitType + char(39) + ')'		
	End  

	If @RGunitCode !=''
    Begin                      
	SET @RGsql = @RGsql +  ' And' + ' REG_UNIT_CODE' + ' IN (' + char(39) + @RGunitCode + char(39) + ')'		
	End  
	
	If @RGEthnicity !=''
    Begin                      
	SET @RGsql = @RGsql + ' And' + ' REG_ETHNIC' + ' = '  + QUOTENAME(@RGEthnicity, '''') 
	End  
	
	If @RGunitNumber !=''
    Begin                      
	SET @RGsql = @RGsql + ' And' + ' REG_ORDINAL' + ' = '  + QUOTENAME(@RGunitNumber, '''') 
	End 
	
	set @RGregName=LTRIM(RTRIM(@RGregName))	 
	If @RGregName !=''
	Begin
	 If @RGbtnradio= 1
		Begin
		SET @RGsql = @RGsql + ' And' + ' REG_UNIT_NAME' + ' = '  + QUOTENAME(@RGregName, '''') 
		End 
        else 
        Begin
        SET @RGsql = @RGsql + ' And' + ' REG_UNIT_NAME' + ' like '  + QUOTENAME(COALESCE('%' + @RGregName + '%', ''),'''')
        end 
	  End


	If @RGkeyword != ''
	Begin
		SET @RGsql = @RGsql + 'AND ( 
		
		REG_UNIT_CODE LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_UNIT_CODE LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_SIDE LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_STATE LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_ORDINAL LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_ARM LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_SPECIAL LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_DUPLICATE LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_ETHNIC LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '															
		OR REG_HISTORY LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_UNIT_NAME LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '		
		OR REG_FUNCTION LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_DUPLICATE LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		OR REG_DUPLICATE LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '		
		OR REG_DUPLICATE LIKE ' + QUOTENAME(COALESCE('%' + @RGkeyword + '%', ''),'''') + '
		  ) '
	End

	If @orderByClause !=''
	Begin
	SET @RGsql = @RGsql +  ' ORDER BY ' + @orderByClause
	End		

	Exec (@RGsql) 	
	
END

--exec spGetRegimentsResult @RGsideName='U'

GO
/****** Object:  StoredProcedure [dbo].[spGetSailorsResult]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Neetu K
-- Create date: Aug 05 , 2010
-- Description:	Get Sailors results
-- =============================================
CREATE PROCEDURE [dbo].[spGetSailorsResult]
	-- Add the parameters for the stored procedure here
	@SAlName	VARCHAR(50) = NULL,
	@SAfName	VARCHAR(50) = NULL,
	@SAbirthcity VARCHAR(25)= NULL,
	@SAbirthstate VARCHAR(500) = NULL,
	@SAcountryName VARCHAR(500)= NULL,
	@SAshipname	   VARCHAR(500) =NULL,
	@orderByClause varchar (100)=null	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare 
	@SAsql varchar(3000)

    -- Insert statements for procedure here
   
	Set @SAsql =  'SELECT DISTINCT	SAL_INFOID,
					SAL_LASTNAME,
					SAL_FIRSTNAME,
					SAL_MIDDLENAME,
					SAL_CITYOFBIRTH,
					(select name from StateCountryName where STATECOUNTRY_ABBR=SAL_STATEOFBIRTH ) as SAL_STATEOFBIRTH,
					SAL_AGE,
					SAL_OCCUPATION,
					SAL_COMPLEXION,
					SAL_HEIGHTFEET,
					SAL_HEIGHTINCH,
					SAL_ISDELETE,
					SAL_PUBDATE,
					SAL_UPDATEDATE,
					SAL_UPDATEBY,
					SAL_UPDATETYPE,
					SAL_COMMENTS,
				(select name from StateCountryName where STATECOUNTRY_ABBR= SAL_COUNTRYOFBIRTH) as SAL_COUNTRYOFBIRTH'
	If @SAshipname != ''
	Begin 
	Set @SAsql = @SAsql + ' ,Sailors_Musterinfo.SAL_VESSEL as SAL_VESSEL'
	End
	
	Set @SAsql= @SAsql + ' FROM Sailors_Personinfo '
	If @SAshipname !=''
	Begin
	Set @SAsql = @SAsql + 'LEFT JOIN Sailors_Musterinfo	on Sailors_Musterinfo.SAL_MUSTERID=Sailors_Personinfo.SAL_INFOID'
    End
    
    Set @SAsql = @SAsql + ' WHERE 0=0'
    
    Set @SAlname = Ltrim(Rtrim(@SAlname))
	If @SAlName !=''
	Begin	
		If ((len(@SAlname) < 4) and (len(@SAlname)>0))
		Begin
			Set @SAsql = @SAsql + ' And ' + 'SAL_LASTNAME' + ' = '  + QUOTENAME(@SAlName, '''')
		END
		Else
		Begin
			Set @SAsql = @SAsql + ' And ' + 'SAL_LASTNAME' + ' Like '  + QUOTENAME(COALESCE('%' + @SAlName + '%',''),'''')
		End
	End	
	If @SAfname !=''
	Begin 
	Set @SAsql= @SAsql + ' And ' + 'SAL_FIRSTNAME' + ' Like ' + QUOTENAME(COALESCE(@SAfname + '%',''),'''')
	End
	

	If @SAbirthcity !=''
	Begin 
	--Set @SAsql= @SAsql + ' And ' + 'SAL_CITYOFBIRTH' + ' = ' + QUOTENAME(@SAbirthcity, '''')
	SET @SAsql = @SAsql +  ' And' + ' SAL_CITYOFBIRTH' + ' IN (' + char(39) + @SAbirthcity + char(39) + ')'	
	End
	
	If @SAbirthState !=''
	Begin
	--Set @SAsql= @SAsql + ' And ' + 'SAL_STATEOFBIRTH' + ' = ' + QUOTENAME(@SAbirthState, '''')
	SET @SAsql = @SAsql +  ' And' + ' SAL_STATEOFBIRTH' + ' IN (' + char(39) + @SAbirthState + char(39) + ')'	
	End
	
	
	If @SAcountryName !=''
	Begin
	 --@colors = COALESCE(@colors + ',', '''') + '''' + color + ''''
	Set @SAsql= @SAsql + ' And ' + 'SAL_COUNTRYOFBIRTH' + ' in ' + '('  +  ''''+ REPLACE(@SAcountryName, ',', ''',''') + '''' + ')'
	End
	
	If @SAshipname !=''
	Begin
	--Set @SAsql = @SAsql + ' And ' + 'SAL_VESSEL' + ' = ' + QUOTENAME(@SAshipname,'''')
	SET @SAsql = @SAsql +  ' And' + ' SAL_VESSEL' + ' IN (' + char(39) + @SAshipname + char(39) + ')'		
	END

	If @orderByClause !=''
	Begin
	SET @SAsql = @SAsql +  ' ORDER BY ' + @orderByClause
	End
	
	exec (@SAsql)
END

--exec spGetSailorsResult @SAcountryName='mex'

GO
/****** Object:  StoredProcedure [dbo].[spGetSoldiersResult]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Neetu K>
-- Create date: <July 19,2010,>
-- Description:	<Get Soldiers Result>
-- =============================================
CREATE PROCEDURE [dbo].[spGetSoldiersResult]
	-- Add the parameters for the stored procedure here
	@SDfName varchar (50) =null,
	@SDlName varchar (50) =null,	
	@SDsideName varchar(2)=null,
	@SDOriginState varchar(2)=null,
	@SDunitNumber varchar(20)=null,
	@SDFunction varchar(100)=null,
	@SDrankIn varchar(500)=null,
	@SDrankOut varchar(500)=null,
	@SDcompany varchar(10)=null,
	@PER_UNIT_CODE varchar (20)=null,
	@sdKeyword varchar (200)=null,	
	@orderByClause varchar (100)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare 
		--Declare var SDsql containg the select statement
		@SDsql varchar(6000)
		


--(SELECT RANK_NAME FROM RANKZ WHERE RANK_CODE=PER_RANK_IN_CODE) AS PER_RANK_IN_NAME,
--					(SELECT RANK_NAME FROM RANKZ WHERE RANK_CODE=PER_RANK_OUT_CODE) AS PER_RANK_OUT_NAME,
--(SELECT REG_UNIT_NAME FROM REGIMENTS_UNITZ WHERE REG_UNIT_CODE =PER_UNIT_CODE ) AS REG_UNIT_NAME,




    -- Select statements for procedure here
	SET @SDsql = ' SELECT TOP 2000 
					PER_FIRST_NAME,
					PER_LAST_NAME,
					PER_SIDE,
					PER_UNIT_CODE,
					RI.RANK_NAME AS PER_RANK_IN_NAME,
					RO.RANK_NAME AS PER_RANK_OUT_NAME,
					PER_PK,
					PER_STATE,
					RU.REG_UNIT_NAME AS REG_UNIT_NAME,
					PER_COMPANY,
					PER_UNIT_NUMBER,
					PER_ISDELETE,
					PER_PUBDATE,
					PER_UPDATEDATE,
					PER_UPDATEBY,
					PER_UPDATETYPE,
					PER_COMMENTS,
					PER_AKA_NAME_ORIG
			FROM Soldiers_Personz AS S
				INNER JOIN RANKZ AS RI
					ON S.PER_RANK_IN_CODE = RI.RANK_CODE	
				INNER JOIN RANKZ AS RO
					ON S.PER_RANK_OUT_CODE = RO.RANK_CODE
				INNER JOIN REGIMENTS_UNITZ RU
					ON S.PER_UNIT_CODE = RU.REG_UNIT_CODE						
			WHERE 0=0'
	--If parameters have a value add them to the where clause 		
    If @SDfName !=''
    Begin                      
	SET @SDsql = @SDsql + ' And' + ' PER_FIRST_NAME' + ' like '  + QUOTENAME(COALESCE(@SDfName + '%',''), '''') 
	End   
	
	set @SDlName=LTRIM(RTRIM(@SDlName))	
	
	If @SDlName !=''	
    Begin 
	    If (len(@SDlName)< 4) and (len(@SDlName)>0)
		Begin
		SET @SDsql = @SDsql + ' And' + ' PER_LAST_NAME' + ' = '  + QUOTENAME(@SDlName, '''') 
		End
        else 
        Begin
        SET @SDsql = @SDsql + ' And' + ' PER_LAST_NAME' + ' like '  + 
QUOTENAME(COALESCE('%' + @SDlName + '%', ''),'''')
        end 
	End  
	

	set @sdKeyword=LTRIM(RTRIM(@sdKeyword))	
    Begin                      
	SET @SDsql = @SDsql + ' And (' 
	SET @SDsql = @SDsql + ' PER_LAST_NAME' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 	
	SET @SDsql = @SDsql + ' OR PER_FIRST_NAME' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR PER_SIDE' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR PER_UNIT_CODE' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR RI.RANK_NAME' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR RO.RANK_NAME' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR PER_PK' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR PER_STATE' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR RU.REG_UNIT_NAME' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR PER_COMPANY' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''')
	SET @SDsql = @SDsql + ' OR PER_UNIT_NUMBER' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR PER_COMMENTS' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''') 
	SET @SDsql = @SDsql + ' OR PER_AKA_NAME_ORIG' + ' like '  + QUOTENAME(COALESCE(@sdKeyword + '%',''), '''')							
	SET @SDsql = @SDsql + ')'
	End 

	
	If @SDsideName !=''
    Begin                      
	SET @SDsql = @SDsql + ' And' + ' PER_SIDE' + '= '  + QUOTENAME(@SDsideName, '''') 
	End  
	
	If @SDOriginState !=''
    Begin                      
	SET @SDsql = @SDsql +  ' And' + ' PER_STATE' + '= '  + QUOTENAME(@SDOriginState, '''') 
	End  
	
	
	
	If @SDunitNumber !=''
    Begin                      
	SET @SDsql = @SDsql +  ' And' + ' PER_UNIT_NUMBER ' + '= '  + QUOTENAME(@SDunitNumber, '''') 
	End 
	
	If @SDFunction !=''
    Begin                      
	--SET @SDsql = @SDsql + ' And' + ' PER_FUNCTION' + ' = '  + QUOTENAME(@SDFunction, '''') 
	SET @SDsql = @SDsql +  ' And' + ' PER_FUNCTION' + ' IN (' + char(39) + @SDFunction + char(39) + ')'
	End  
	
	If @SDrankIn !=''
    Begin                      
	--SET @SDsql = @SDsql +  ' And' + ' PER_RANK_IN_CODE' + '= '  + QUOTENAME(@SDrankIn, '''') 
	SET @SDsql = @SDsql +  ' And' + ' PER_RANK_IN_CODE' + ' IN (' + char(39) + @SDrankIn + char(39) + ')'
	End  
	
	If @SDrankOut !=''
    Begin                      
	--SET @SDsql = @SDsql +  ' And' + ' PER_RANK_OUT_CODE ' + '= '  + QUOTENAME(@SDrankOut, '''') 
	SET @SDsql = @SDsql +  ' And' + ' PER_RANK_OUT_CODE' + ' IN (' + char(39) + @SDrankOut + char(39) + ')'	
	End 
	
	If @SDcompany !=''
    Begin                      
	SET @SDsql = @SDsql +  ' And' + ' PER_COMPANY' + '= '  + QUOTENAME(@SDcompany, '''') 
	End  			
	
	If @PER_UNIT_CODE !=''
    Begin                      
	SET @SDsql = @SDsql +  ' And' + ' PER_UNIT_CODE ' + '= '  + QUOTENAME(@PER_UNIT_CODE, '''') 
	End 

	If @orderByClause !=''
	Begin
	SET @SDsql = @SDsql +  ' ORDER BY ' + @orderByClause
	End
		
exec (@SDsql)
--print @SDsql 
END


--UAL00000C

-- 

--exec  spGetSoldiersResult @PER_UNIT_CODE='UAL00000C'

--exec  spGetSoldiersResult @SDfname='p'
--, @SDfName='james'

--exec  spGetSoldiersResult @SDsideName='u'

GO
/****** Object:  UserDefinedFunction [dbo].[InitCap]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[InitCap] ( @InputString varchar(4000) ) 
RETURNS VARCHAR(4000)
AS
BEGIN

DECLARE @Index          INT
DECLARE @Char           CHAR(1)
DECLARE @PrevChar       CHAR(1)
DECLARE @OutputString   VARCHAR(255)

SET @OutputString = LOWER(@InputString)
SET @Index = 1

WHILE @Index <= LEN(@InputString)
BEGIN
    SET @Char     = SUBSTRING(@InputString, @Index, 1)
    SET @PrevChar = CASE WHEN @Index = 1 THEN ' '
                         ELSE SUBSTRING(@InputString, @Index - 1, 1)
                    END

    IF @PrevChar IN (' ', ';', ':', '!', '?', ',', '.', '_', '-', '/', '&', '''', '(')
    BEGIN
        IF @PrevChar != '''' OR UPPER(@Char) != 'S'
            SET @OutputString = STUFF(@OutputString, @Index, 1, UPPER(@Char))
    END

    SET @Index = @Index + 1
END

RETURN @OutputString

END


GO
/****** Object:  UserDefinedFunction [dbo].[LTRIMWithChar]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[LTRIMWithChar] ( @InputString varchar(4000), @CharToReplace char ) 
RETURNS VARCHAR(4000)
AS
BEGIN

WHILE (CHARINDEX(@CharToReplace, @InputString) = 1)
BEGIN
  SET  @InputString = STUFF(@InputString, 1, 1, '');
END

RETURN @InputString

END



GO
/****** Object:  UserDefinedFunction [dbo].[RegExEscape]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExEscape](@Input [nvarchar](max))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExEscape]
GO
/****** Object:  UserDefinedFunction [dbo].[RegExIndex]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExIndex](@Pattern [nvarchar](4000), @Input [nvarchar](max), @Options [int])
RETURNS [int] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExIndex]
GO
/****** Object:  UserDefinedFunction [dbo].[RegExIsMatch]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExIsMatch](@Pattern [nvarchar](4000), @Input [nvarchar](max), @Options [int])
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExIsMatch]
GO
/****** Object:  UserDefinedFunction [dbo].[RegExMatch]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExMatch](@Pattern [nvarchar](4000), @Input [nvarchar](max), @Options [int])
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExMatch]
GO
/****** Object:  UserDefinedFunction [dbo].[RegExMatches]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExMatches](@Pattern [nvarchar](4000), @Input [nvarchar](max), @Options [int])
RETURNS  TABLE (
	[Match] [nvarchar](max) NULL,
	[MatchIndex] [int] NULL,
	[MatchLength] [int] NULL
) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExMatches]
GO
/****** Object:  UserDefinedFunction [dbo].[RegExOptionEnumeration]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExOptionEnumeration](@IgnoreCase [bit], @MultiLine [bit], @ExplicitCapture [bit], @Compiled [bit], @SingleLine [bit], @IgnorePatternWhitespace [bit], @RightToLeft [bit], @ECMAScript [bit], @CultureInvariant [bit])
RETURNS [int] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExOptionEnumeration]
GO
/****** Object:  UserDefinedFunction [dbo].[RegExReplace]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExReplace](@Input [nvarchar](max), @Pattern [nvarchar](4000), @Repacement [nvarchar](max))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExReplace]
GO
/****** Object:  UserDefinedFunction [dbo].[RegExReplaceX]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExReplaceX](@Pattern [nvarchar](4000), @Input [nvarchar](max), @Repacement [nvarchar](max), @Options [int])
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExReplacex]
GO
/****** Object:  UserDefinedFunction [dbo].[RegExSplit]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[RegExSplit](@Pattern [nvarchar](4000), @Input [nvarchar](max), @Options [int])
RETURNS  TABLE (
	[Match] [nvarchar](max) NULL
) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [RegexFunction].[SimpleTalk.Phil.Factor.RegularExpressionFunctions].[RegExSplit]
GO
/****** Object:  UserDefinedFunction [dbo].[split]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[split](
	@string nvarchar(max), 
	@delimiter char(1)
)     
RETURNS @temptable TABLE (
	item nvarchar(max)
)     
AS   
BEGIN
	DECLARE 
		 @idx int
		,@slice varchar(max)     
	SELECT @idx = 1
	IF len(@string) < 1 OR @string IS NULL
	RETURN
	WHILE @idx != 0     
	BEGIN
		SET @idx = charindex(@delimiter,@string)     
		IF @idx != 0
			SET @slice = left(@string,@idx - 1)     
		ELSE
			SET @slice = @string
		IF(len(@slice) > 0)
			INSERT INTO @temptable(item) VALUES(@slice)
		SET @string = right(@string,len(@string) - @idx)     
		IF len(@string) = 0 
			BREAK
	END 
RETURN    
END
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/19/2015 11:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[PK_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](100) NULL,
	[ABBR] [nchar](10) NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[ISDELETE] [bit] NOT NULL,
	[PUBDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](30) NULL,
	[UPDATETYPE] [varchar](15) NULL,
	[COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Regiments_Type] PRIMARY KEY CLUSTERED 
(
	[PK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cemeteries_Info]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cemeteries_Info](
	[CT_IMAGE] [varchar](28) NULL,
	[CT_GRAVENUMBER] [varchar](5) NULL,
	[CT_LASTNAME] [varchar](20) NULL,
	[CT_FIRSTNAME] [varchar](20) NULL,
	[CT_RANK] [varchar](8) NULL,
	[CT_COMPANY] [varchar](10) NULL,
	[CT_STATE] [varchar](5) NULL,
	[CT_BRANCHOFSERVICE] [varchar](20) NULL,
	[CT_SIDE] [varchar](15) NULL,
	[CT_TYPE] [varchar](15) NULL,
	[CT_DATEOFDEATH] [varchar](20) NULL,
	[CT_BURIALPLACE] [varchar](30) NULL,
	[CT_RESEARCHCOMMENTS] [varchar](100) NULL,
	[CT_PUBLICCOMMENTS] [varchar](100) NULL,
	[CT_ENLISTAGE] [varchar](2) NULL,
	[CT_ENLISTPLACE] [varchar](50) NULL,
	[CT_ENLISTDATE] [varchar](20) NULL,
	[CT_OCCUPATION] [varchar](25) NULL,
	[CT_RESIDENCE] [varchar](50) NULL,
	[CT_UNITNAME] [varchar](70) NULL,
	[CT_REGT] [varchar](40) NULL,
	[CT_ISDELETE] [bit] NOT NULL,
	[CT_PUBDATE] [datetime] NOT NULL,
	[CT_UPDATEDATE] [datetime] NULL,
	[CT_UPDATEBY] [int] NULL,
	[CT_UPDATETYPE] [varchar](15) NULL,
	[CT_COMMENTS] [varchar](255) NULL,
	[CT_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Cemeteries_Info] PRIMARY KEY CLUSTERED 
(
	[CT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cemeteries_Info_unusedColumns]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cemeteries_Info_unusedColumns](
	[CT_BLOCK] [varchar](5) NULL,
	[CT_STONESHOWS] [varchar](115) NULL,
	[CT_BREMER] [varchar](1) NULL,
	[CT_REGISTER] [varchar](1) NULL,
	[CT_DONE] [varchar](1) NULL,
	[CT_TYPEOFSTONE] [varchar](6) NULL,
	[CT_NOINFO] [varchar](1) NULL,
	[CT_DSG] [varchar](10) NULL,
	[CT_REGISTERSHOWS] [varchar](75) NULL,
	[CT_REGT] [varchar](40) NULL,
	[CT_NBROFBURIALS] [float] NULL,
	[CT_FINI] [varchar](1) NULL,
	[CT_FOLDER] [varchar](1) NULL,
	[CT_ID] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company_Std]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company_Std](
	[Comp_Name_Orig] [varchar](7) NULL,
	[Comp_Name_Std] [varchar](7) NOT NULL,
	[Comp_Isdelete] [bit] NOT NULL,
	[Comp_PubDate] [datetime] NOT NULL,
	[Comp_UpdateDate] [datetime] NULL,
	[Comp_UpdateBy] [int] NULL,
	[Comp_UpdateType] [varchar](15) NULL,
	[Comp_Comments] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contitle]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contitle](
	[STATE] [varchar](3) NOT NULL,
	[SIDE] [varchar](2) NULL,
	[TITLE] [varchar](50) NULL,
	[ISDELETE] [bit] NOT NULL,
	[PUBDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATETYPE] [varchar](15) NULL,
	[COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Contitle] PRIMARY KEY CLUSTERED 
(
	[STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[focus]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[focus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datecreated] [varchar](200) NULL,
	[coveragetemporal] [varchar](500) NULL,
	[begindate] [varchar](50) NULL,
	[enddate] [varchar](50) NULL,
	[relation] [varchar](500) NULL,
	[url] [varchar](500) NULL,
	[mrsid1] [varchar](5) NULL,
	[server1] [varchar](150) NULL,
	[catalog1] [varchar](150) NULL,
	[file1] [varchar](150) NULL,
	[folder1] [varchar](150) NULL,
	[part1] [varchar](150) NULL,
	[sourceproperties1] [varchar](5) NULL,
	[format1] [varchar](100) NULL,
	[filesize1] [varchar](5) NULL,
	[width1] [varchar](10) NULL,
	[height1] [varchar](10) NULL,
	[bitdepth1] [varchar](10) NULL,
	[mrsid2] [varchar](5) NULL,
	[server2] [varchar](150) NULL,
	[catalog2] [varchar](150) NULL,
	[file2] [varchar](150) NULL,
	[folder2] [varchar](150) NULL,
	[part2] [varchar](150) NULL,
	[sourceproperties2] [varchar](5) NULL,
	[format2] [varchar](100) NULL,
	[filesize2] [varchar](5) NULL,
	[width2] [varchar](10) NULL,
	[height2] [varchar](10) NULL,
	[bitdepth2] [varchar](10) NULL,
	[mrsid3] [varchar](5) NULL,
	[server3] [varchar](150) NULL,
	[catalog3] [varchar](150) NULL,
	[file3] [varchar](150) NULL,
	[folder3] [varchar](150) NULL,
	[part3] [varchar](150) NULL,
	[sourceproperties3] [varchar](5) NULL,
	[format3] [varchar](100) NULL,
	[filesize3] [varchar](5) NULL,
	[width3] [varchar](10) NULL,
	[height3] [varchar](10) NULL,
	[bitdepth3] [varchar](10) NULL,
	[mrsid4] [varchar](5) NULL,
	[server4] [varchar](150) NULL,
	[catalog4] [varchar](150) NULL,
	[file4] [varchar](150) NULL,
	[folder4] [varchar](150) NULL,
	[part4] [varchar](150) NULL,
	[sourceproperties4] [varchar](5) NULL,
	[format4] [varchar](100) NULL,
	[filesize4] [varchar](5) NULL,
	[width4] [varchar](10) NULL,
	[height4] [varchar](10) NULL,
	[bitdepth4] [varchar](10) NULL,
	[rights] [varchar](200) NULL,
	[rightsinfo] [varchar](1500) NULL,
	[title] [varchar](500) NULL,
	[contributor1] [varchar](200) NULL,
	[affiliation1] [varchar](200) NULL,
	[role1] [varchar](200) NULL,
	[contributor2] [varchar](200) NULL,
	[affiliation2] [varchar](200) NULL,
	[role2] [varchar](200) NULL,
	[contributor3] [varchar](200) NULL,
	[affiliation3] [varchar](200) NULL,
	[role3] [varchar](200) NULL,
	[publisher] [varchar](250) NULL,
	[type] [varchar](200) NULL,
	[formatmedium] [varchar](250) NULL,
	[source] [varchar](400) NULL,
	[identifier] [varchar](400) NULL,
	[description1] [varchar](2500) NULL,
	[description2] [varchar](2500) NULL,
	[description3] [varchar](2500) NULL,
	[description4] [varchar](2500) NULL,
	[subject1] [varchar](150) NULL,
	[subject2] [varchar](150) NULL,
	[subject3] [varchar](150) NULL,
	[subject4] [varchar](150) NULL,
	[subject5] [varchar](150) NULL,
	[subject6] [varchar](150) NULL,
	[parkname] [varchar](300) NULL,
	[parkcode] [varchar](10) NULL,
	[coveragespatial] [varchar](500) NULL,
	[north] [varchar](50) NULL,
	[west] [varchar](50) NULL,
	[abstract] [varchar](8000) NULL,
	[descriptionabstract] [varchar](8000) NULL,
	[relationispartof1] [varchar](250) NULL,
	[relationispartof2] [varchar](250) NULL,
	[relationispartof3] [varchar](250) NULL,
	[relationispartof4] [varchar](250) NULL,
	[recordstate] [varchar](100) NULL,
	[recordowner] [varchar](200) NULL,
	[recordview] [varchar](55) NULL,
	[recorduid] [varchar](50) NULL,
	[recordsetuid] [varchar](50) NULL,
	[useruid] [varchar](50) NULL,
	[batcreatedate] [varchar](50) NULL,
	[batmodifydate] [varchar](50) NULL,
	[stateuid] [varchar](50) NULL,
	[tableofcontents] [varchar](1000) NULL,
	[subjectkeyword] [varchar](1500) NULL,
	[titlealternative] [varchar](500) NULL,
	[npsnumber] [varchar](250) NULL,
	[yyyymmdd] [varchar](10) NULL,
	[numbertype] [varchar](100) NULL,
	[djvu] [varchar](100) NULL,
	[file] [varchar](100) NULL,
	[folder] [varchar](100) NULL,
	[format] [varchar](100) NULL,
	[identifierurl] [varchar](200) NULL,
	[language] [varchar](100) NULL,
	[server] [varchar](100) NULL,
	[catalog] [varchar](100) NULL,
	[descriptiontableofcontents] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medal_Ofhonor]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medal_Ofhonor](
	[MD_LASTNAME] [varchar](15) NULL,
	[MD_FIRSTNAME] [varchar](20) NULL,
	[MD_RANKCODE] [varchar](8) NULL,
	[MD_CO] [varchar](1) NULL,
	[MD_UNITNAME] [varchar](50) NULL,
	[MD_CITATIONCITY] [varchar](15) NULL,
	[MD_CITATIONSTATE] [varchar](2) NULL,
	[MD_CITATIONDATE] [varchar](12) NULL,
	[MD_ENTERPL] [varchar](15) NULL,
	[MD_ENTERST] [varchar](9) NULL,
	[MD_BIRTHPL] [varchar](15) NULL,
	[MD_ISSUEDX] [varchar](12) NULL,
	[MD_PAGE] [varchar](3) NULL,
	[MD_CWUNIT] [varchar](12) NULL,
	[MD_RECNUMBER] [numeric](11, 0) NOT NULL,
	[MD_CITATION] [varchar](2000) NULL,
	[MD_BIRTHST] [varchar](7) NULL,
	[MD_SIDE] [varchar](1) NULL,
	[MD_BRANCHOFSERVICE] [varchar](30) NULL,
	[MD_MIDDLEINITIAL] [varchar](7) NULL,
	[MD_ISDELETE] [bit] NOT NULL,
	[MD_PUBDATE] [datetime] NOT NULL,
	[MD_UPDATEDATE] [datetime] NULL,
	[MD_UPDATEBY] [int] NULL,
	[MD_UPDATETYPE] [varchar](15) NULL,
	[MD_COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_MedalOfhonor_RECNUMBER2] PRIMARY KEY CLUSTERED 
(
	[MD_RECNUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medal_Ofhonor_unusedColumns]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medal_Ofhonor_unusedColumns](
	[MD_RECNUMBER] [numeric](11, 0) NULL,
	[MD_X] [varchar](1) NULL,
	[MD_DATE_R] [datetime] NULL,
	[MD_ISSUED] [datetime] NULL,
	[MD_M] [varchar](4) NULL,
	[MD_D] [varchar](3) NULL,
	[MD_Y] [varchar](5) NULL,
	[MD_CITATION1] [varchar](60) NULL,
	[MD_CITATION2] [varchar](60) NULL,
	[MD_CITATION3] [varchar](60) NULL,
	[MD_CITATION4] [varchar](60) NULL,
	[MD_CITATION5] [varchar](60) NULL,
	[MD_CITATION6] [varchar](60) NULL,
	[MD_CITATION7] [varchar](60) NULL,
	[MD_CITATION8] [varchar](60) NULL,
	[MD_RUNNING] [float] NULL,
	[MD_MIDDLEINITIAL] [varchar](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMORIAL]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMORIAL](
	[MEM_NBR] [float] NULL,
	[MEM_GIV_NAME_ORIG] [varchar](50) NULL,
	[MEM_SUR_NAME_ORIG] [varchar](30) NULL,
	[MEM_UNIT_CODE] [varchar](12) NULL,
	[MEM_AKA_NAME_ORIG] [varchar](50) NULL,
	[MEM_NAME_DUP] [varchar](3) NULL,
	[MEM_NAME_DUP_PTR] [float] NULL,
	[MEM_NAME_SEP_CHAR] [varchar](1) NULL,
	[MEM_AKA_SUR_NAME] [varchar](50) NULL,
	[MEM_AKA_GIV_NAME] [varchar](50) NULL,
	[MEM_GIV_NAME_FULL] [varchar](50) NULL,
	[MEM_AKA_GIV_FULL] [varchar](50) NULL,
	[MEM_PLAQUE_ID] [varchar](5) NULL,
	[MEM_NBR_ORIG] [float] NULL,
	[MEM_ISDELETE] [bit] NOT NULL,
	[MEM_PUBDATE] [datetime] NOT NULL,
	[MEM_UPDATEDATE] [datetime] NULL,
	[MEM_UPDATEBY] [int] NULL,
	[MEM_UPDATETYPE] [varchar](15) NULL,
	[MEM_COMMENTS] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prisoners_Andersonville]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prisoners_Andersonville](
	[PRA_LASTNAME] [varchar](15) NULL,
	[PRA_FIRSTNAME] [varchar](13) NULL,
	[PRA_STATE] [varchar](3) NULL,
	[PRA_REGIMENT] [varchar](3) NULL,
	[PRA_RANK] [varchar](10) NULL,
	[PRA_COMPANY] [varchar](1) NULL,
	[PRA_FUNCTION] [varchar](15) NULL,
	[PRA_CODE] [varchar](5) NULL,
	[PRA_REMARKS] [varchar](255) NULL,
	[PRA_ALTNAME1] [varchar](13) NULL,
	[PRA_ALTNAME2] [varchar](13) NULL,
	[PRA_ALTNAME3] [varchar](13) NULL,
	[PRA_ALTNAME4] [varchar](13) NULL,
	[PRA_UNITNAME] [varchar](35) NULL,
	[PRA_STATENAME] [varchar](20) NULL,
	[PRA_SIDE] [varchar](1) NULL,
	[PRA_CAPTURE] [varchar](20) NULL,
	[PRA_DCAP] [datetime] NULL,
	[PRA_TYPEDESCRIPTION] [varchar](120) NULL,
	[PRA_ISDELETE] [bit] NOT NULL,
	[PRA_PUBDATE] [datetime] NOT NULL,
	[PRA_UPDATEDATE] [datetime] NULL,
	[PRA_UPDATEBY] [int] NULL,
	[PRA_UPDATETYPE] [varchar](15) NULL,
	[PRA_COMMENTS] [varchar](255) NULL,
	[PRA_PKEY] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Prisoners_Andersonville] PRIMARY KEY CLUSTERED 
(
	[PRA_PKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prisoners_Andersonville_unusedColumns]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prisoners_Andersonville_unusedColumns](
	[PRA_PKEY] [numeric](6, 0) NULL,
	[PRA_GRAVE] [varchar](5) NULL,
	[PRA_DCAUSE] [varchar](18) NULL,
	[PRA_DDATE] [datetime] NULL,
	[PRA_REF] [varchar](75) NULL,
	[PRA_CAPTURE] [varchar](20) NULL,
	[PRA_DCAP] [datetime] NULL,
	[PRA_PG] [numeric](5, 0) NULL,
	[PRA_MORE] [varchar](3) NULL,
	[PRA_TOTAL] [numeric](2, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prisoners_FtCode]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prisoners_FtCode](
	[CODE] [varchar](10) NOT NULL,
	[DISPOSITION] [varchar](25) NULL,
	[Ft_DESCRIPTION] [nchar](10) NOT NULL,
	[FT_ISDELETE] [bit] NOT NULL,
	[FT_PUBDATE] [datetime] NOT NULL,
	[FT_UPDATEDATE] [datetime] NULL,
	[FT_UPDATEBY] [int] NULL,
	[FT_UPDATETYPE] [varchar](15) NULL,
	[FT_COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Prison_FtCode] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[Ft_DESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prisoners_FtMcHenry]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prisoners_FtMcHenry](
	[PRM_TYPE] [varchar](2) NULL,
	[PRM_NAME] [varchar](20) NULL,
	[PRM_REGISTRATIONDATE] [datetime] NULL,
	[PRM_RESIDENCE] [varchar](15) NULL,
	[PRM_DATEDISP] [datetime] NULL,
	[PRM_DISP] [varchar](4) NULL,
	[PRM_HOSPITAL] [varchar](2) NULL,
	[PRM_FTRANK] [varchar](2) NULL,
	[PRM_NOTES] [varchar](30) NULL,
	[PRM_LASTNAME] [varchar](50) NULL,
	[PRM_FIRSTNAME] [varchar](50) NULL,
	[PRM_RECNUMBER] [float] NULL,
	[PRM_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRM_TYPEDESCRIPTION] [varchar](50) NULL,
	[PRM_ISDELETE] [bit] NOT NULL,
	[PRM_PUBDATE] [datetime] NOT NULL,
	[PRM_UPDATEDATE] [datetime] NULL,
	[PRM_UPDATEBY] [int] NULL,
	[PRM_UPDATETYPE] [varchar](15) NULL,
	[PRM_COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Prison_FtMcHenry] PRIMARY KEY CLUSTERED 
(
	[PRM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rankz]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rankz](
	[RANK_CODE] [varchar](4) NOT NULL,
	[RANK_NAME] [varchar](54) NULL,
	[RANK_ISDELETE] [bit] NOT NULL,
	[RANK_PUBDATE] [datetime] NOT NULL,
	[RANK_UPDATEDATE] [datetime] NULL,
	[RANK_UPDATETYPE] [varchar](15) NULL,
	[RANK_COMMENTS] [varchar](255) NULL,
	[RANK_UPDATEBY] [int] NULL,
 CONSTRAINT [PK_Rankz] PRIMARY KEY CLUSTERED 
(
	[RANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Regiments_Unitz]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regiments_Unitz](
	[REG_UNIT_CODE] [varchar](12) NOT NULL,
	[REG_SIDE] [varchar](1) NOT NULL,
	[REG_STATE] [varchar](2) NOT NULL,
	[REG_ORDINAL] [varchar](4) NOT NULL,
	[REG_ARM] [varchar](1) NULL,
	[REG_TYPE] [varchar](1) NULL,
	[REG_SPECIAL] [varchar](1) NULL,
	[REG_DUPLICATE] [varchar](1) NULL,
	[REG_ETHNIC] [varchar](1) NULL,
	[REG_HISTORY] [text] NULL,
	[REG_UNIT_NAME] [varchar](110) NULL,
	[REG_NOTES] [varchar](200) NULL,
	[REG_FUNCTION] [varchar](2) NULL,
	[REG_LONGHISTORY] [text] NULL,
	[REG_ISDELETE] [bit] NOT NULL,
	[REG_PUBDATE] [datetime] NOT NULL,
	[REG_UPDATEDATE] [datetime] NULL,
	[REG_UPDATEBY] [int] NULL,
	[REG_COMMENTS] [varchar](255) NULL,
	[REG_UPDATETYPE] [varchar](15) NULL,
 CONSTRAINT [PK_Regiments_Unitz] PRIMARY KEY CLUSTERED 
(
	[REG_UNIT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Regiments_Unitz_Ext]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regiments_Unitz_Ext](
	[REG_UNIT_CODE] [varchar](12) NOT NULL,
	[REG_DUPLICATE] [varchar](1) NULL,
	[REG_ORG_CITY] [varchar](25) NULL,
	[REG_ORG_COUNTY] [varchar](25) NULL,
	[REG_ORG_STATE] [varchar](2) NULL,
	[REG_ORG_DATE] [datetime] NULL,
	[REG_EISDELETE] [bit] NOT NULL,
	[REG_EPUBDATE] [datetime] NOT NULL,
	[REG_EUPDATEDATE] [datetime] NULL,
	[REG_EUPDATEBY] [int] NULL,
	[REG_EUPDATETYPE] [varchar](15) NULL,
	[REG_ECOMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Regiments_Unitz_Ext] PRIMARY KEY CLUSTERED 
(
	[REG_UNIT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAILORS_CONTISLANDS]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAILORS_CONTISLANDS](
	[PKID] [nvarchar](255) NULL,
	[CONTISLANDNAMES] [nvarchar](255) NULL,
	[COUNTRYABBR] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sailors_Enlistinfo]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sailors_Enlistinfo](
	[SAL_ENLISTID] [varchar](7) NOT NULL,
	[SAL_DATEENLIST] [datetime] NULL,
	[SAL_RATING] [varchar](24) NULL,
	[SAL_PLACENLIST] [varchar](30) NULL,
	[SAL_REENLIST] [varchar](50) NULL,
	[SAL_TERMENLIST] [varchar](5) NULL,
	[SAL_EISDELETE] [bit] NOT NULL,
	[SAL_EPUBDATE] [datetime] NOT NULL,
	[SAL_EUPDATEDATE] [datetime] NULL,
	[SAL_EUPDATEBY] [int] NULL,
	[SAL_EUPDATETYPE] [varchar](15) NULL,
	[SAL_ECOMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_SAILORS_ENLISTINFO] PRIMARY KEY CLUSTERED 
(
	[SAL_ENLISTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sailors_Musterinfo]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sailors_Musterinfo](
	[SAL_DATEMUSTER] [datetime] NULL,
	[SAL_MUSTERID] [varchar](7) NULL,
	[SAL_VESSEL] [varchar](20) NULL,
	[SAL_PKID] [int] IDENTITY(1,1) NOT NULL,
	[SAL_MISDELETE] [bit] NOT NULL,
	[SAL_MPUBDATE] [datetime] NOT NULL,
	[SAL_MUPDATEDATE] [datetime] NULL,
	[SAL_MUPDATEBY] [int] NULL,
	[SAL_MUPDATETYPE] [varchar](15) NULL,
	[SAL_MCOMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_SAILORS_MUSTERINFO] PRIMARY KEY CLUSTERED 
(
	[SAL_PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sailors_Personinfo]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sailors_Personinfo](
	[SAL_INFOID] [varchar](7) NOT NULL,
	[SAL_LASTNAME] [varchar](15) NULL,
	[SAL_FIRSTNAME] [varchar](20) NULL,
	[SAL_MIDDLENAME] [varchar](10) NULL,
	[SAL_CITYOFBIRTH] [varchar](20) NULL,
	[SAL_STATEOFBIRTH] [varchar](18) NULL,
	[SAL_AGE] [varchar](22) NULL,
	[SAL_OCCUPATION] [varchar](30) NULL,
	[SAL_COMPLEXION] [varchar](15) NULL,
	[SAL_HEIGHTFEET] [varchar](22) NULL,
	[SAL_HEIGHTINCH] [varchar](22) NULL,
	[SAL_COUNTRYOFBIRTH] [varchar](18) NULL,
	[SAL_ISDELETE] [bit] NOT NULL,
	[SAL_PUBDATE] [datetime] NOT NULL,
	[SAL_UPDATEDATE] [datetime] NULL,
	[SAL_UPDATEBY] [int] NULL,
	[SAL_UPDATETYPE] [varchar](15) NULL,
	[SAL_COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_SAILORS_PERSONINFO] PRIMARY KEY CLUSTERED 
(
	[SAL_INFOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sailors_Shipinfo]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sailors_Shipinfo](
	[SAl_VESSEL] [varchar](20) NULL,
	[SAL_PKID] [int] IDENTITY(1,1) NOT NULL,
	[SAL_SISDELETE] [bit] NOT NULL,
	[SAL_SPUBDATE] [datetime] NOT NULL,
	[SAL_SUPDATE] [datetime] NULL,
	[SAL_SUPDATEBY] [int] NULL,
	[SAL_SUPDATETYPE] [varchar](15) NULL,
	[SAL_SCOMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Sailors_Shipinfo] PRIMARY KEY CLUSTERED 
(
	[SAL_PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Soldiers_Filmz]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Soldiers_Filmz](
	[FILM_NBR] [varchar](7) NOT NULL,
	[FILM_ROLL] [varchar](15) NULL,
	[FILM_ISDELETE] [bit] NOT NULL,
	[FILM_PUBDATE] [datetime] NOT NULL,
	[FILM_UPDATEDATE] [datetime] NULL,
	[FILM_UPDATEBY] [int] NULL,
	[FILM_UPDATETYPE] [varchar](15) NULL,
	[FILM_COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Soldiers_Filmz] PRIMARY KEY CLUSTERED 
(
	[FILM_NBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Soldiers_Memorial]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Soldiers_Memorial](
	[MEM_NBR_ORIG] [float] NOT NULL,
	[MEM_NAME_DUP] [varchar](3) NULL,
	[MEM_NAME_DUP_PTR] [float] NULL,
	[MEM_NAME_SEP_CHAR] [varchar](1) NULL,
	[MEM_AKA_SUR_NAME] [varchar](50) NULL,
	[MEM_AKA_GIV_NAME] [varchar](50) NULL,
	[MEM_GIV_NAME_FULL] [varchar](50) NULL,
	[MEM_AKA_GIV_FULL] [varchar](50) NULL,
	[MEM_PLAQUE_ID] [varchar](5) NULL,
	[MEM_PK] [varchar](50) NULL,
	[MEM_SUR_NAME_ORIG] [varchar](30) NULL,
	[MEM_ISDELETE] [bit] NOT NULL,
	[MEM_PUBDATE] [datetime] NOT NULL,
	[MEM_UPDATEDATE] [datetime] NULL,
	[MEM_UPDATEBY] [int] NULL,
	[MEM_UPDATETYPE] [varchar](15) NULL,
	[MEM_COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Soldiers_Memorial_1] PRIMARY KEY CLUSTERED 
(
	[MEM_NBR_ORIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Soldiers_Memorial_backup]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Soldiers_Memorial_backup](
	[MEM_NBR_ORIG] [float] NOT NULL,
	[MEM_NAME_DUP] [varchar](3) NULL,
	[MEM_NAME_DUP_PTR] [float] NULL,
	[MEM_NAME_SEP_CHAR] [varchar](1) NULL,
	[MEM_AKA_SUR_NAME] [varchar](50) NULL,
	[MEM_AKA_GIV_NAME] [varchar](50) NULL,
	[MEM_GIV_NAME_FULL] [varchar](50) NULL,
	[MEM_AKA_GIV_FULL] [varchar](50) NULL,
	[MEM_PLAQUE_ID] [varchar](5) NULL,
	[MEM_PK] [varchar](50) NULL,
 CONSTRAINT [PK_Soldiers_Memorial] PRIMARY KEY CLUSTERED 
(
	[MEM_NBR_ORIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Soldiers_notez]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Soldiers_notez](
	[PER_NBR_ORIG] [float] NOT NULL,
	[PER_NOTES] [varchar](max) NULL,
	[PER_NAMENOTE] [varchar](max) NULL,
	[PER_COMPANYNOTE] [varchar](max) NULL,
	[PER_UNITNOTE] [varchar](max) NULL,
	[PER_SIDENOTE] [varchar](max) NULL,
	[PER_RANKINNOTE] [varchar](max) NULL,
	[PER_RANKOUTNOTE] [varchar](max) NULL,
	[PER_AKANOTE] [varchar](max) NULL,
	[PER_PK] [varchar](50) NULL,
	[PER_NISDELETE] [bit] NOT NULL,
	[PER_NPUBDATE] [datetime] NOT NULL,
	[PER_NUPDATEDATE] [datetime] NULL,
	[PER_NUPDATEBY] [int] NULL,
	[PER_NUPDATETYPE] [varchar](15) NULL,
	[PER_NCOMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_SOLDIERS_NOTEZ] PRIMARY KEY CLUSTERED 
(
	[PER_NBR_ORIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Soldiers_Personz]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Soldiers_Personz](
	[PER_FIRST_NAME] [varchar](50) NULL,
	[PER_LAST_NAME] [varchar](40) NULL,
	[PER_SIDE] [varchar](1) NULL,
	[PER_UNIT_ORIG] [varchar](340) NULL,
	[PER_UNIT_CODE] [varchar](12) NULL,
	[PER_COMPANY] [varchar](3) NULL,
	[PER_RANK_IN_ORIG] [varchar](60) NULL,
	[PER_RANK_IN_CODE] [varchar](4) NULL,
	[PER_RANK_OUT_ORIG] [varchar](60) NULL,
	[PER_RANK_OUT_CODE] [varchar](4) NULL,
	[PER_AKA_NAME_ORIG] [varchar](140) NULL,
	[PER_BAT_NBR] [varchar](8) NULL,
	[PER_FILM_NBR] [varchar](7) NULL,
	[PER_NBR_ORIG] [float] NOT NULL,
	[PER_STATE] [varchar](2) NULL,
	[PER_FUNCTION] [varchar](2) NULL,
	[PER_UNIT_NUMBER] [varchar](4) NULL,
	[PER_PK] [uniqueidentifier] NOT NULL,
	[PER_ISDELETE] [bit] NOT NULL,
	[PER_PUBDATE] [datetime] NOT NULL,
	[PER_UPDATEDATE] [datetime] NULL,
	[PER_UPDATEBY] [int] NULL,
	[PER_UPDATETYPE] [varchar](15) NULL,
	[PER_COMMENTS] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PER_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SoldiersCountPerState]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SoldiersCountPerState](
	[StateAbbr] [char](3) NOT NULL,
	[UnionCount] [int] NULL,
	[ConfederateCount] [int] NULL,
	[TotalCount] [int] NULL,
 CONSTRAINT [PK_SoldiersCountPerState] PRIMARY KEY CLUSTERED 
(
	[StateAbbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State_Name]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[State_Name](
	[STATE_ABBR] [nchar](10) NOT NULL,
	[STATE_NAME] [varchar](150) NULL,
	[STATE_ISDELETE] [bit] NOT NULL,
	[STATE_PUBDATE] [datetime] NOT NULL,
	[STATE_UPDATEDATE] [datetime] NULL,
	[STATE_UPDATEBY] [int] NULL,
	[STATE_UPDATETYPE] [varchar](15) NULL,
	[STATE_COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_STATE_NAME] PRIMARY KEY CLUSTERED 
(
	[STATE_ABBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StateCountryName]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StateCountryName](
	[State_Country] [varchar](25) NULL,
	[STATECOUNTRY_ABBR] [varchar](5) NOT NULL,
	[COLUMN_ABBR] [varchar](70) NULL,
	[COLUMN_ABBRDESCRIPTION] [varchar](150) NULL,
	[PK_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[SC_ISDELETE] [bit] NOT NULL,
	[SC_PUBDATE] [datetime] NOT NULL,
	[SC_UPDATEDATE] [datetime] NULL,
	[SC_UPDATEBY] [int] NULL,
	[SC_UPDATETYPE] [varchar](15) NULL,
	[SC_COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_StateCountryName] PRIMARY KEY CLUSTERED 
(
	[STATECOUNTRY_ABBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Unititle]    Script Date: 6/19/2015 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Unititle](
	[STATE] [varchar](3) NOT NULL,
	[SIDE] [varchar](2) NULL,
	[TITLE] [varchar](50) NULL,
	[ISDELETE] [bit] NOT NULL,
	[PUBDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATETYPE] [varchar](15) NULL,
	[COMMENTS] [varchar](255) NULL,
 CONSTRAINT [PK_Unititle] PRIMARY KEY CLUSTERED 
(
	[STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [INDEX_Cemeteries_Info]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [INDEX_Cemeteries_Info] ON [dbo].[Cemeteries_Info]
(
	[CT_LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [INDEX_Prisoners_Andersonville]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [INDEX_Prisoners_Andersonville] ON [dbo].[Prisoners_Andersonville]
(
	[PRA_LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [INDEX_Prisoners_FtMcHenry]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [INDEX_Prisoners_FtMcHenry] ON [dbo].[Prisoners_FtMcHenry]
(
	[PRM_LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Rankz_RankName]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Rankz_RankName] ON [dbo].[Rankz]
(
	[RANK_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Regiments_Unitz_UnitName]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Regiments_Unitz_UnitName] ON [dbo].[Regiments_Unitz]
(
	[REG_UNIT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [INDEX_Sailors_Personz]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [INDEX_Sailors_Personz] ON [dbo].[Sailors_Personinfo]
(
	[SAL_LASTNAME] ASC,
	[SAL_FIRSTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Soldiers_Personz_FirstName]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Soldiers_Personz_FirstName] ON [dbo].[Soldiers_Personz]
(
	[PER_FIRST_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Soldiers_Personz_LastName]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Soldiers_Personz_LastName] ON [dbo].[Soldiers_Personz]
(
	[PER_LAST_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Soldiers_Personz_State]    Script Date: 6/19/2015 11:56:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Soldiers_Personz_State] ON [dbo].[Soldiers_Personz]
(
	[PER_STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_ISDELETE]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_PUBDATE]  DEFAULT (getdate()) FOR [PUBDATE]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_UPDATEDATE]  DEFAULT (getdate()) FOR [UPDATEDATE]
GO
ALTER TABLE [dbo].[Cemeteries_Info] ADD  CONSTRAINT [DF_Cemeteries_Info_CT_ISDELETE]  DEFAULT ((0)) FOR [CT_ISDELETE]
GO
ALTER TABLE [dbo].[Cemeteries_Info] ADD  CONSTRAINT [DF_Cemeteries_Info_CT_PUBDATE]  DEFAULT (getdate()) FOR [CT_PUBDATE]
GO
ALTER TABLE [dbo].[Cemeteries_Info] ADD  CONSTRAINT [DF_Cemeteries_Info_CT_UPDATEDATE]  DEFAULT (getdate()) FOR [CT_UPDATEDATE]
GO
ALTER TABLE [dbo].[Company_Std] ADD  CONSTRAINT [DF_Company_Std_Comp_Isdelete]  DEFAULT ((0)) FOR [Comp_Isdelete]
GO
ALTER TABLE [dbo].[Company_Std] ADD  CONSTRAINT [DF_Company_Std_Comp_PubDate]  DEFAULT (getdate()) FOR [Comp_PubDate]
GO
ALTER TABLE [dbo].[Company_Std] ADD  CONSTRAINT [DF_Company_Std_Comp_UpdateDate]  DEFAULT (getdate()) FOR [Comp_UpdateDate]
GO
ALTER TABLE [dbo].[Contitle] ADD  CONSTRAINT [DF_Contitle_ISDELETE]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[Contitle] ADD  CONSTRAINT [DF_Contitle_PUBDATE]  DEFAULT (getdate()) FOR [PUBDATE]
GO
ALTER TABLE [dbo].[Contitle] ADD  CONSTRAINT [DF_Contitle_UPDATEDATE]  DEFAULT (getdate()) FOR [UPDATEDATE]
GO
ALTER TABLE [dbo].[Medal_Ofhonor] ADD  CONSTRAINT [DF_Medal_Ofhonor_MD_ISDELETE]  DEFAULT ((0)) FOR [MD_ISDELETE]
GO
ALTER TABLE [dbo].[Medal_Ofhonor] ADD  CONSTRAINT [DF_Medal_Ofhonor_MD_PUBDATE]  DEFAULT (getdate()) FOR [MD_PUBDATE]
GO
ALTER TABLE [dbo].[Medal_Ofhonor] ADD  CONSTRAINT [DF_Medal_Ofhonor_MD_UPDATEDATE]  DEFAULT (getdate()) FOR [MD_UPDATEDATE]
GO
ALTER TABLE [dbo].[MEMORIAL] ADD  CONSTRAINT [DF_MEMORIAL_MEM_ISDELETE]  DEFAULT ((0)) FOR [MEM_ISDELETE]
GO
ALTER TABLE [dbo].[MEMORIAL] ADD  CONSTRAINT [DF_MEMORIAL_MEM_PUBDATE]  DEFAULT (getdate()) FOR [MEM_PUBDATE]
GO
ALTER TABLE [dbo].[MEMORIAL] ADD  CONSTRAINT [DF_MEMORIAL_MEM_UPDATEDATE]  DEFAULT (getdate()) FOR [MEM_UPDATEDATE]
GO
ALTER TABLE [dbo].[Prisoners_Andersonville] ADD  CONSTRAINT [DF_Prisoners_Andersonville_PRA_ISDELETE]  DEFAULT ((0)) FOR [PRA_ISDELETE]
GO
ALTER TABLE [dbo].[Prisoners_Andersonville] ADD  CONSTRAINT [DF_Prisoners_Andersonville_PRA_PUBDATE]  DEFAULT (getdate()) FOR [PRA_PUBDATE]
GO
ALTER TABLE [dbo].[Prisoners_Andersonville] ADD  CONSTRAINT [DF_Prisoners_Andersonville_PRA_UPDATEDATE]  DEFAULT (getdate()) FOR [PRA_UPDATEDATE]
GO
ALTER TABLE [dbo].[Prisoners_FtCode] ADD  CONSTRAINT [DF_Prisoners_FtCode_FT_ISDELETE]  DEFAULT ((0)) FOR [FT_ISDELETE]
GO
ALTER TABLE [dbo].[Prisoners_FtCode] ADD  CONSTRAINT [DF_Prisoners_FtCode_FT_PUBDATE]  DEFAULT (getdate()) FOR [FT_PUBDATE]
GO
ALTER TABLE [dbo].[Prisoners_FtCode] ADD  CONSTRAINT [DF_Prisoners_FtCode_FT_UPDATEDATE]  DEFAULT (getdate()) FOR [FT_UPDATEDATE]
GO
ALTER TABLE [dbo].[Prisoners_FtMcHenry] ADD  CONSTRAINT [DF_Prisoners_FtMcHenry_PRM_ISDELETE]  DEFAULT ((0)) FOR [PRM_ISDELETE]
GO
ALTER TABLE [dbo].[Prisoners_FtMcHenry] ADD  CONSTRAINT [DF_Prisoners_FtMcHenry_PRM_PUBDATE]  DEFAULT (getdate()) FOR [PRM_PUBDATE]
GO
ALTER TABLE [dbo].[Prisoners_FtMcHenry] ADD  CONSTRAINT [DF_Prisoners_FtMcHenry_PRM_UPDATEDATE]  DEFAULT (getdate()) FOR [PRM_UPDATEDATE]
GO
ALTER TABLE [dbo].[Rankz] ADD  CONSTRAINT [DF_Rankz_RANK_ISDELETE]  DEFAULT ((0)) FOR [RANK_ISDELETE]
GO
ALTER TABLE [dbo].[Rankz] ADD  CONSTRAINT [DF_Rankz_RANK_PUBDATE]  DEFAULT (getdate()) FOR [RANK_PUBDATE]
GO
ALTER TABLE [dbo].[Rankz] ADD  CONSTRAINT [DF_Rankz_RANK_UPDATEDATE]  DEFAULT (getdate()) FOR [RANK_UPDATEDATE]
GO
ALTER TABLE [dbo].[Regiments_Unitz] ADD  CONSTRAINT [DF_Regiments_Unitz_REG_ISDELETE]  DEFAULT ((0)) FOR [REG_ISDELETE]
GO
ALTER TABLE [dbo].[Regiments_Unitz] ADD  CONSTRAINT [DF_Regiments_Unitz_REG_PUBDATE]  DEFAULT (getdate()) FOR [REG_PUBDATE]
GO
ALTER TABLE [dbo].[Regiments_Unitz] ADD  CONSTRAINT [DF_Regiments_Unitz_REG_UPDATEDATE]  DEFAULT (getdate()) FOR [REG_UPDATEDATE]
GO
ALTER TABLE [dbo].[Regiments_Unitz_Ext] ADD  CONSTRAINT [DF_Regiments_Unitz_Ext_REGEXT_ISDELETE]  DEFAULT ((0)) FOR [REG_EISDELETE]
GO
ALTER TABLE [dbo].[Regiments_Unitz_Ext] ADD  CONSTRAINT [DF_Regiments_Unitz_Ext_REGEXT_PUBDATE]  DEFAULT (getdate()) FOR [REG_EPUBDATE]
GO
ALTER TABLE [dbo].[Regiments_Unitz_Ext] ADD  CONSTRAINT [DF_Regiments_Unitz_Ext_REGEXT_UPDATEDATE]  DEFAULT (getdate()) FOR [REG_EUPDATEDATE]
GO
ALTER TABLE [dbo].[Sailors_Enlistinfo] ADD  CONSTRAINT [DF_Sailors_Enlistinfo_SAL_ISDELETE]  DEFAULT ((0)) FOR [SAL_EISDELETE]
GO
ALTER TABLE [dbo].[Sailors_Enlistinfo] ADD  CONSTRAINT [DF_Sailors_Enlistinfo_SAL_PUBDATE]  DEFAULT (getdate()) FOR [SAL_EPUBDATE]
GO
ALTER TABLE [dbo].[Sailors_Enlistinfo] ADD  CONSTRAINT [DF_Sailors_Enlistinfo_SAL_UPDATEDATE]  DEFAULT (getdate()) FOR [SAL_EUPDATEDATE]
GO
ALTER TABLE [dbo].[Sailors_Musterinfo] ADD  CONSTRAINT [DF_Sailors_Musterinfo_SALM_ISDELETE]  DEFAULT ((0)) FOR [SAL_MISDELETE]
GO
ALTER TABLE [dbo].[Sailors_Musterinfo] ADD  CONSTRAINT [DF_Sailors_Musterinfo_SALM_PUBDATE]  DEFAULT (getdate()) FOR [SAL_MPUBDATE]
GO
ALTER TABLE [dbo].[Sailors_Musterinfo] ADD  CONSTRAINT [DF_Sailors_Musterinfo_SALM_UPDATEDATE]  DEFAULT (getdate()) FOR [SAL_MUPDATEDATE]
GO
ALTER TABLE [dbo].[Sailors_Personinfo] ADD  CONSTRAINT [DF_Sailors_Personinfo_SAL_ISDELETE]  DEFAULT ((0)) FOR [SAL_ISDELETE]
GO
ALTER TABLE [dbo].[Sailors_Personinfo] ADD  CONSTRAINT [DF_Sailors_Personinfo_SAL_PUBDATE]  DEFAULT (getdate()) FOR [SAL_PUBDATE]
GO
ALTER TABLE [dbo].[Sailors_Personinfo] ADD  CONSTRAINT [DF_Sailors_Personinfo_SAL_UPDATEDATE]  DEFAULT (getdate()) FOR [SAL_UPDATEDATE]
GO
ALTER TABLE [dbo].[Sailors_Shipinfo] ADD  CONSTRAINT [DF_Sailors_Shipinfo_SAL_ISDELETE]  DEFAULT ((0)) FOR [SAL_SISDELETE]
GO
ALTER TABLE [dbo].[Sailors_Shipinfo] ADD  CONSTRAINT [DF_Sailors_Shipinfo_SAL_SPUBDATE]  DEFAULT (getdate()) FOR [SAL_SPUBDATE]
GO
ALTER TABLE [dbo].[Sailors_Shipinfo] ADD  CONSTRAINT [DF_Sailors_Shipinfo_SAL_SUPDATE]  DEFAULT (getdate()) FOR [SAL_SUPDATE]
GO
ALTER TABLE [dbo].[Soldiers_Filmz] ADD  CONSTRAINT [DF_Soldiers_Filmz_FILM_ISDELETE]  DEFAULT ((0)) FOR [FILM_ISDELETE]
GO
ALTER TABLE [dbo].[Soldiers_Filmz] ADD  CONSTRAINT [DF_Soldiers_Filmz_FILM_PUBDATE]  DEFAULT (getdate()) FOR [FILM_PUBDATE]
GO
ALTER TABLE [dbo].[Soldiers_Filmz] ADD  CONSTRAINT [DF_Soldiers_Filmz_FILM_UPDATEDATE]  DEFAULT (getdate()) FOR [FILM_UPDATEDATE]
GO
ALTER TABLE [dbo].[Soldiers_Memorial] ADD  CONSTRAINT [DF_Soldiers_Memorial_MEM_ISDELETE]  DEFAULT ((0)) FOR [MEM_ISDELETE]
GO
ALTER TABLE [dbo].[Soldiers_Memorial] ADD  CONSTRAINT [DF_Soldiers_Memorial_MEM_PUBDATE]  DEFAULT (getdate()) FOR [MEM_PUBDATE]
GO
ALTER TABLE [dbo].[Soldiers_Memorial] ADD  CONSTRAINT [DF_Soldiers_Memorial_MEM_UPDATEDATE]  DEFAULT (getdate()) FOR [MEM_UPDATEDATE]
GO
ALTER TABLE [dbo].[Soldiers_notez] ADD  CONSTRAINT [DF_Soldiers_notez_PER_NISDELETE]  DEFAULT ((0)) FOR [PER_NISDELETE]
GO
ALTER TABLE [dbo].[Soldiers_notez] ADD  CONSTRAINT [DF_Soldiers_notez_PER_NPUBDATE]  DEFAULT (getdate()) FOR [PER_NPUBDATE]
GO
ALTER TABLE [dbo].[Soldiers_notez] ADD  CONSTRAINT [DF_Soldiers_notez_PER_NUPDATEDATE]  DEFAULT (getdate()) FOR [PER_NUPDATEDATE]
GO
ALTER TABLE [dbo].[Soldiers_Personz] ADD  CONSTRAINT [DF__Soldiers___PER_P__60A75C0F]  DEFAULT (newid()) FOR [PER_PK]
GO
ALTER TABLE [dbo].[Soldiers_Personz] ADD  DEFAULT ((0)) FOR [PER_ISDELETE]
GO
ALTER TABLE [dbo].[Soldiers_Personz] ADD  DEFAULT (getdate()) FOR [PER_PUBDATE]
GO
ALTER TABLE [dbo].[Soldiers_Personz] ADD  DEFAULT (getdate()) FOR [PER_UPDATEDATE]
GO
ALTER TABLE [dbo].[SoldiersCountPerState] ADD  CONSTRAINT [DF_SoldiersCountPerState_UnionCount]  DEFAULT ((0)) FOR [UnionCount]
GO
ALTER TABLE [dbo].[SoldiersCountPerState] ADD  CONSTRAINT [DF_SoldiersCountPerState_ConfederateCount]  DEFAULT ((0)) FOR [ConfederateCount]
GO
ALTER TABLE [dbo].[SoldiersCountPerState] ADD  CONSTRAINT [DF_SoldiersCountPerState_TotalCount]  DEFAULT ((0)) FOR [TotalCount]
GO
ALTER TABLE [dbo].[State_Name] ADD  CONSTRAINT [DF_State_Name_STATE_ISDELETE]  DEFAULT ((0)) FOR [STATE_ISDELETE]
GO
ALTER TABLE [dbo].[State_Name] ADD  CONSTRAINT [DF_State_Name_STATE_PUBDATE]  DEFAULT (getdate()) FOR [STATE_PUBDATE]
GO
ALTER TABLE [dbo].[State_Name] ADD  CONSTRAINT [DF_State_Name_STATE_UPDATEDATE]  DEFAULT (getdate()) FOR [STATE_UPDATEDATE]
GO
ALTER TABLE [dbo].[StateCountryName] ADD  CONSTRAINT [DF_StateCountryName_SC_ISDELETE]  DEFAULT ((0)) FOR [SC_ISDELETE]
GO
ALTER TABLE [dbo].[StateCountryName] ADD  CONSTRAINT [DF_StateCountryName_SC_PUBDATE]  DEFAULT (getdate()) FOR [SC_PUBDATE]
GO
ALTER TABLE [dbo].[StateCountryName] ADD  CONSTRAINT [DF_StateCountryName_SC_UPDATEDATE]  DEFAULT (getdate()) FOR [SC_UPDATEDATE]
GO
ALTER TABLE [dbo].[Unititle] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[Unititle] ADD  DEFAULT (getdate()) FOR [PUBDATE]
GO
ALTER TABLE [dbo].[Unititle] ADD  DEFAULT (getdate()) FOR [UPDATEDATE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valid Options are Delete, Update and Add' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Medal_Ofhonor', @level2type=N'COLUMN',@level2name=N'MD_UPDATETYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N' General note made by extractor' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Soldiers_notez', @level2type=N'COLUMN',@level2name=N'PER_NOTES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note concerning soldier''s name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Soldiers_notez', @level2type=N'COLUMN',@level2name=N'PER_NAMENOTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note concerning company' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Soldiers_notez', @level2type=N'COLUMN',@level2name=N'PER_COMPANYNOTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note concerning unit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Soldiers_notez', @level2type=N'COLUMN',@level2name=N'PER_UNITNOTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note concerning side' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Soldiers_notez', @level2type=N'COLUMN',@level2name=N'PER_SIDENOTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note concerning beginning rank' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Soldiers_notez', @level2type=N'COLUMN',@level2name=N'PER_RANKINNOTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note concerning ending rank' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Soldiers_notez', @level2type=N'COLUMN',@level2name=N'PER_RANKOUTNOTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note concerning aka name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Soldiers_notez', @level2type=N'COLUMN',@level2name=N'PER_AKANOTE'
GO
USE [master]
GO
