[submodule "data/data/PAR"]
	path = data/PAR
	url = git@github.com:jrnold/PAR.git
[submodule "data/data/CDB13"]
	path = data/CDB13
	url = git@github.com:jrnold/CDB13.git
[submodule "bib"]
	path = bib
	url = git@github.com:jrnold/bib.git
