/data/dbpedia.org/battles/
/data/dbpedia.org/commanders/
/data/kennedy1997/html/
*~
\#*#
__pycache__
doc/build/
/data/cwsac2/reports/*.pdf
*.RData
*.Rhistory
/data/
/docs/build
*.bak
auto
dependencies/citeproc-*
*.sqlite3
