# general patterns
__pycache__
.Rproj.user
*.bak
*.RData
*.Rhistory
*.sqlite3
*.tar.gz
*.zip
*~
auto
\#*#

# specific Paths
/*shell*
/data/
/data/cwsac2/reports/*.pdf
/data/dbpedia.org/battles/
/data/dbpedia.org/commanders/
/data/kennedy1997/html/
/docs/build
/doc/build/
/packrat/lib*/
