[submodule "dependenciesPAR"]
	path = dependencies/PAR
	url = git@github.com:jrnold/PAR.git
[submodule "dependencies/CDB90"]
	path = dependencies/CDB90
	url = https://github.com/jrnold/CDB90
[submodule "dependencies/CDB13"]
	path = dependencies/CDB13
	url = git@github.com:jrnold/CDB13.git
