# general patterns
__pycache__
.Rproj.user
*.bak
*.RData
*.Rhistory
*.sqlite3
*.tar.gz
*.zip
*~
auto
\#*#

# specific Paths
/data/
/docs/build
/packrat/lib*
packrat/lib*/
wikidata
wikipedia
.~*#
.ipynb_checkpoints
